@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

*,
:before,
:after {
    box-sizing: border-box;
}

#step {
    background-color: #fdf9fd;
    color: #011a32;
    font: 16px/1.25 'Raleway', sans-serif;
    text-align: center;
}

#wrapperx {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#containerx {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
    width: 100%;
}

h1.funk {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 5em;
    font-weight: 90;
    line-height: 1;
}

h1.funk:hover {
    animation-play-state: paused;
}

.oneeight { position: relative; margin-left: -675px; 
    margin-top: -175px;

}

.headp {
    font-weight: 600;
    text-shadow: 1px 1px 5px #2cfcfd;
}

/*
a {
  color: #024794;
}

a:hover {
  text-decoration: none;
}
*/

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #be0303, 
            0 0 0 #184949, 
            0 0 0 #6b121d, 
            0 0 0 #a511ca;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 10px #be0303, 
            0 0.25em 10px #2cfcfd, 
            0 -0.125em 10px #fb203b, 
            0 -0.25em 10px #fefc4b;
            
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 10px #be0303, 
            0 -0.125em 10px #2cfcfd, 
            0 0.0625em 10px #fb203b, 
            0 0.125em 10px #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 10px #be0303, 
            0 0.0625em 10px #2cfcfd, 
            0 -0.03125em 10px #fb203b, 
            0 -0.0625em 10px #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #be0303, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}