@import url(https://fonts.googleapis.com/css?family=Roboto:700);

    
body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(45deg,#00647d, #00747d);
	background-size: 400% 400%;
	-webkit-animation: Gradient 30s ease infinite;
	-moz-animation: Gradient 30s ease infinite;
	animation: Gradient 30s ease infinite;
	font-family: 'Open Sans';
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1,
h6 {
	font-family: 'Open Sans';
	font-weight: bold;
	
}




label {
 display:block;
 margin-bottom:10px;
}



a:link {
  text-decoration: none;
  color: White;
}

a:visited {
  text-decoration: none;
  color: White;
}

a:hover {
  text-decoration: none;
  color: White;
}

a:active {
  text-decoration: underline;
  color: White;
}






input.ethi {
    width: 20%;
    padding: 20px 10px; line-height: 1.5em;
    font-size: 1.45em;
    text-align: center;
    font-family: 'Arial';
    color: black;
}



input.ethi,textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input.ethi:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px solid #99ff99;
  background-color: #e6fff2;
}

 .awesome {
      
                
     
      
      color:#fbc0ff;

     
      animation:random 5s infinite alternate;
      -webkit-animation: random 5s infinite alternate;
      
    }

 .awesomez {
      
     
            
     
       color: #fdff00;
      
      
      font-weight: bold;
      -webkit-animation: random2 3s infinite;
      animation: random2 3s infinite;
      
      
    }  

.awesomeh {
      
     
            
     
       color: #fdff00;
      
      -webkit-animation: random2 2s infinite;
      animation: random2 2s infinite;
      
      
    } 
	

.awesomex {
      
     
            
     
       color: lime;
      
      
      -webkit-animation: random 3s infinite;
      animation: random 3s infinite;
      
      
    }    	

    @keyframes random {
    
      
      
      33% {
        
        color:  #c0fff7;
      }
      
      66% {
        
        color:  #c0ffc4;
      }
    
    }

 @keyframes random2 {
    
      
      
      33% {
        
        color:  #fdff00;
      }
      
      66% {
        
        color:  #feff8c;
      }
    
    }	


#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000002;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#tronlink{
	z-index: 1000000; 
}

#dimmer {
background:#000;
position: fixed;
opacity: 0.8;
z-index: 1000001; 
left: 0;
top: 0;
height: 100%;
width: 100%;
MsFilter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
filter: alpha(opacity=80);
MozOpacity: 0.8;
KhtmlOpacity: 0.8;
display: none;
            }
			
.button {
  background: #3D4C53;
  margin : 20px auto;
  width : 200px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 2px;
  background : #26A69A;
  left : -250px;
  transition : .3s;
}
.btnText {
  color : white;
  transition : .3s;
   font-family: 'Roboto';
}
.btnText2 {
  margin-top : 63px;
  margin-right : -130px;
  color : #FFF;
     font-family: 'Roboto';
}
.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

			
			
			
.btn-3d {
    position: relative;
    display: inline-block;
    font-size: 2em;
    padding: 20px 60px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.btn-3d.blue:hover   {background-color: #699DD1;}

.btn-3d:active {
    top: 9px;
}

/* 3D button colors */


.btn-3d.blue {
    background-color: #6DA2D9;
    box-shadow: 0 0 0 1px #6698cb inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 8px 0 0 rgba(110, 164, 219, .7),
                0 8px 0 1px rgba(0,0,0,.4),
                0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.blue:active {
    box-shadow: 0 0 0 1px #6191C2 inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 0 0 1px rgba(0,0,0,0.4);
}

.myButton {
	background-color:#4ebd5f;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #19ab2f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #29662d;
}
.myButton:hover {
	background-color:#2cbd49;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton2 {
	background-color:#bd4c4c;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ab1919;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662828;
}
.myButton2:hover {
	background-color:#bd2a2a;
}
.myButton2:active {
	position:relative;
	top:1px;
}